
/* SECTION */
.portfolio-section {
    background: #020617;
    color: #e2e8f0;
}

/* IMAGE */
.portfolio-item img {
    transition: 0.3s;
}

/* HOVER EFFECT */
.portfolio-item:hover img {
    transform: scale(1.05);
}

/* OVERLAY */
.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(56, 189, 248, 0.7);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

/* ICON */
.portfolio-overlay i {
    font-size: 40px;
}

/* TITLE */
.outline-text {
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 1px #334155;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .outline-text {
        font-size: 50px;
    }
}