/* SECTION BACKGROUND */
.about-section {
    background: #020617;
    color: #e2e8f0;
}

/* BIG BACK TEXT */
.outline-text {
    font-size: 100px;
    color: transparent;
    -webkit-text-stroke: 1px #334155;
}

/* IMAGE */
.about-img {
    max-width: 100%;
    border-radius: 10px;
    border: 4px solid #38bdf8;
}

/* TEXT */
.about-text {
    color: #94a3b8;
}

/* BUTTON */
.btn-primary {
    background-color: #38bdf8;
    border: none;
}

.btn-outline-light {
    border: 1px solid #38bdf8;
    color: #38bdf8;
}

.btn-outline-light:hover {
    background-color: #38bdf8;
    color: #020617;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .outline-text {
        font-size: 50px;
    }
}